<div class="footer-wrapper">
  <div class="footer-container">
    <div class="footer-logo">
      <a href="#" class="logo-footer">
        <svg viewBox="0 0 254.42 35" (mouseenter)="hover()" (mouseleave)="dehover()">
          <defs>
            <linearGradient id="logo-gradient-footer" x1="0%" y1="0%" x2="100%" y2="0%">
              <stop offset="70%" stop-color="#9747ff" />
              <stop offset="100%" stop-color="#9747ff" />
            </linearGradient>

            <style>
              .d {
                fill: #fff;
              }

              .e {
                fill: #7c28bd;
              }

              .f {
                fill: #70e61c;
              }

              .g {
                fill: url("#gradient");
              }
            </style>

          </defs>
          <g id="c">
            <polygon class="e"
              points="237.86 13.78 237.86 20.5 237.86 34.66 230.49 34.66 230.49 10.73 230.49 10.59 237.86 10.59 237.86 13.78" />
            <path class="d"
              d="m26.22,4.38v30.28h-7.38v-12.46H7.38v12.46H0V4.38h7.38v11.86h11.47V4.38h7.38Z" />
            <path class="d"
              d="m54.09,24.39h-16.69c.11,1.5.6,2.64,1.44,3.43.85.79,1.89,1.19,3.13,1.19,1.84,0,3.12-.78,3.84-2.33h7.85c-.4,1.58-1.13,3.01-2.18,4.27-1.05,1.27-2.37,2.26-3.95,2.98-1.58.72-3.35,1.08-5.31,1.08-2.36,0-4.46-.5-6.3-1.51-1.84-1.01-3.28-2.44-4.31-4.31-1.04-1.87-1.55-4.05-1.55-6.56s.51-4.69,1.53-6.56c1.02-1.87,2.45-3.31,4.29-4.31,1.84-1.01,3.95-1.51,6.34-1.51s4.4.49,6.21,1.47c1.81.98,3.23,2.37,4.25,4.18,1.02,1.81,1.53,3.92,1.53,6.34,0,.69-.04,1.41-.13,2.16Zm-7.42-4.1c0-1.26-.43-2.27-1.29-3.02-.86-.75-1.94-1.12-3.23-1.12s-2.28.36-3.13,1.08c-.85.72-1.37,1.74-1.57,3.06h9.23Z" />
            <rect class="d" x="58.1" y="10.59" width="7.38" height="24.07" />

            <rect class="i-point-footer" id="i-point-footer" x="58.1" width="7.42" height="7.42" />

            <path class="d"
              d="m92.23,13.07c1.68,1.83,2.52,4.33,2.52,7.53v14.06h-7.33v-13.07c0-1.61-.42-2.86-1.25-3.75-.83-.89-1.96-1.34-3.36-1.34s-2.53.45-3.36,1.34c-.83.89-1.25,2.14-1.25,3.75v13.07h-7.38V10.59h7.38v3.19c.75-1.06,1.75-1.9,3.02-2.52,1.26-.62,2.69-.93,4.27-.93,2.82,0,5.07.91,6.75,2.74Z" />
            <path class="d"
              d="m122.45,24.39h-16.69c.11,1.5.6,2.64,1.44,3.43.85.79,1.89,1.19,3.13,1.19,1.84,0,3.12-.78,3.84-2.33h7.85c-.4,1.58-1.13,3.01-2.18,4.27-1.05,1.27-2.37,2.26-3.95,2.98-1.58.72-3.35,1.08-5.31,1.08-2.36,0-4.46-.5-6.3-1.51-1.84-1.01-3.28-2.44-4.31-4.31-1.04-1.87-1.55-4.05-1.55-6.56s.51-4.69,1.53-6.56c1.02-1.87,2.45-3.31,4.29-4.31,1.84-1.01,3.95-1.51,6.34-1.51s4.4.49,6.21,1.47c1.81.98,3.23,2.37,4.25,4.18,1.02,1.81,1.53,3.92,1.53,6.34,0,.69-.04,1.41-.13,2.16Zm-7.42-4.1c0-1.26-.43-2.27-1.29-3.02-.86-.75-1.94-1.12-3.23-1.12s-2.28.36-3.13,1.08c-.85.72-1.37,1.74-1.57,3.06h9.23Z" />
            <path class="d"
              d="m164.3,13.05c1.77,1.81,2.65,4.33,2.65,7.55v14.06h-7.33v-13.07c0-1.55-.41-2.75-1.23-3.6-.82-.85-1.95-1.27-3.39-1.27s-2.57.42-3.39,1.27c-.82.85-1.23,2.05-1.23,3.6v13.07h-7.33v-13.07c0-1.55-.41-2.75-1.23-3.6-.82-.85-1.95-1.27-3.39-1.27s-2.57.42-3.39,1.27c-.82.85-1.23,2.05-1.23,3.6v13.07h-7.38V10.59h7.38v3.02c.75-1.01,1.73-1.8,2.93-2.39,1.21-.59,2.57-.88,4.1-.88,1.81,0,3.43.39,4.85,1.16,1.42.78,2.54,1.88,3.34,3.32.83-1.32,1.97-2.4,3.41-3.23,1.44-.83,3-1.25,4.7-1.25,2.99,0,5.37.91,7.14,2.72Z" />
            <path class="d"
              d="m172.07,16.07c.93-1.87,2.21-3.31,3.82-4.31,1.61-1.01,3.41-1.51,5.39-1.51,1.7,0,3.18.35,4.46,1.04,1.28.69,2.26,1.6,2.95,2.72v-3.41h7.38v24.07h-7.38v-3.41c-.72,1.12-1.72,2.03-3,2.72-1.28.69-2.77,1.04-4.46,1.04-1.96,0-3.74-.51-5.35-1.53-1.61-1.02-2.88-2.47-3.82-4.36-.93-1.88-1.4-4.06-1.4-6.53s.47-4.64,1.4-6.51Zm15.1,2.2c-1.02-1.06-2.26-1.6-3.73-1.6s-2.71.52-3.73,1.57c-1.02,1.05-1.53,2.49-1.53,4.33s.51,3.3,1.53,4.38c1.02,1.08,2.26,1.62,3.73,1.62s2.71-.53,3.73-1.6c1.02-1.06,1.53-2.52,1.53-4.36s-.51-3.29-1.53-4.36Z" />
            <path class="d"
              d="m222.83,13.07c1.68,1.83,2.52,4.33,2.52,7.53v14.06h-7.33v-13.07c0-1.61-.42-2.86-1.25-3.75-.83-.89-1.96-1.34-3.36-1.34s-2.53.45-3.36,1.34c-.83.89-1.25,2.14-1.25,3.75v13.07h-7.38V10.59h7.38v3.19c.75-1.06,1.75-1.9,3.02-2.52,1.27-.62,2.69-.93,4.27-.93,2.82,0,5.07.91,6.75,2.74Z" />
            <path class="f"
              d="m251.9,13.07c1.68,1.83,2.52,4.33,2.52,7.53v14.06h-7.33v-13.07c0-1.61-.42-2.86-1.25-3.75-.83-.89-1.96-1.34-3.36-1.34s-2.53.45-3.36,1.34c-.83.89-1.25,2.14-1.25,3.75v13.07h-7.38c-.03-1.42,0-3.47.35-5.9.34-2.37.86-5.86,2.89-9.77.72-1.39,1.91-3.35,3.8-5.43.63-.64,1.74-1.6,3.35-2.31,1.97-.87,3.68-.93,4.27-.93,2.82,0,5.07.91,6.75,2.74Z" />
          </g>
        </svg>
      </a>
      <div (click)="toggleImpressum()">Impressum</div>
    </div>
    <div class="footer-copyright"> © Stefan Heinemann 2023</div>
    <div class="footer-icons">
      <a href="https://github.com/StefanPdm" target="_blank"><img
          src="assets/img/start/icon_github.svg" alt="github"></a>
      <a href="mailto:developer@heinemann.berlin"><img src="assets/img/start/icon_mail.svg"
          alt="mail"></a>
      <a href="https://www.linkedin.com/in/stefan-heinemann-317377267/" target="_blank"><img
          src="assets/img/start/icon_linkedin.svg" alt="linkedin"></a>
    </div>
  </div>
  <div class="impressum-container" id="impressum">
    <div class="headline">Impressum</div>
    <div>
      <!-- start impressum -->
      <!--  -->
      <div>
        <div>

          <h2>Rechtliches</h2>
          <h3>Impressum</h3>
          <p>Stefan Heinemann <br>Schmiedegasse 53 <br>14469 Potsdam</p>


          <p>
            <strong>Konzept, Design & Realisierung:</strong><br>
            <span>Developer Akademie & Stefan Heinemann</span><br><br>
            <strong>Für den Inhalt verantwortlich:</strong><br>
            <span>Stefan Heinemann</span><br>
          </p>

          <h3> HINWEIS GEMÄSS ONLINE-STREITBEILEGUNGS-VERORDNUNG</h3>
          <p> Nach geltendem Recht sind wir verpflichtet, Verbraucher auf die Existenz der
            Europäischen
            Online-Streitbeilegungs-Plattform hinzuweisen, die für die Beilegung von
            Streitigkeiten genutzt
            werden kann, ohne dass ein Gericht eingeschaltet werden muss. Für die
            Einrichtung
            der
            Plattform ist
            die Europäische Kommission zuständig. Die Europäische
            Online-Streitbeilegungs-Plattform ist hier
            zufinden: http://ec.europa.eu/odr. Unsere E-Mail lautet:
            <script>a = 'developer'; b = 'heinemann.berlin';
              document.write(a + '@' + b + '</a>');
            </script>
          </p><br>
          <p>
            Wir weisen aber darauf hin, dass wir nicht bereit sind, uns am
            Streitbeilegungsverfahren im Rahmen
            der Europäischen Online-Streitbeilegungs-Plattform zu beteiligen. Nutzen Sie
            zur
            Kontaktaufnahme
            bitte unsere obige E-Mail und Telefonnummer.
            <br>

          <h3>HINWEIS GEMÄSS VERBRAUCHERSTREITBEILEGUNGSGESETZ (VSBG)</h3>

          <p>
            Wir sind nicht bereit und verpflichtet, an Streitbeilegungsverfahren vor einer
            Verbraucherschlichtungsstelle teilzunehmen.
          </p>
          <h3> DISCLAIMER – RECHTLICHE HINWEISE</h3>
          <p>
            § 1 Warnhinweis zu Inhalten
            Die kostenlosen und frei zugänglichen Inhalte dieser Webseite wurden mit
            größtmöglicher Sorgfalt
            erstellt. Der Anbieter dieser Webseite übernimmt jedoch keine Gewähr für die
            Richtigkeit und
            Aktualität der bereitgestellten kostenlosen und frei zugänglichen
            journalistischen
            Ratgeber und
            Nachrichten. Namentlich gekennzeichnete Beiträge geben die Meinung des
            jeweiligen
            Autors und nicht
            immer die Meinung des Anbieters wieder. Allein durch den Aufruf der kostenlosen
            und
            frei
            zugänglichen Inhalte kommt keinerlei Vertragsverhältnis zwischen dem Nutzer und
            dem
            Anbieter
            zustande, insoweit fehlt es am Rechtsbindungswillen des Anbieters.
          </p><br>
          <p>
            § 2 Externe Links
            Diese Website enthält Verknüpfungen zu Websites Dritter („externe Links“).
            Diese
            Websites
            unterliegen der Haftung der jeweiligen Betreiber. Der Anbieter hat bei der
            erstmaligen Verknüpfung
            der externen Links die fremden Inhalte daraufhin überprüft, ob etwaige
            Rechtsverstöße
            bestehen. Zu
            dem Zeitpunkt waren keine Rechtsverstöße ersichtlich. Der Anbieter hat
            keinerlei
            Einfluss auf die
            aktuelle und zukünftige Gestaltung und auf die Inhalte der verknüpften Seiten.
            Das
            Setzen von
            externen Links bedeutet nicht, dass sich der Anbieter die hinter dem Verweis
            oder
            Link liegenden
            Inhalte zu Eigen macht. Eine ständige Kontrolle der externen Links ist für den
            Anbieter ohne
            konkrete Hinweise auf Rechtsverstöße nicht zumutbar. Bei Kenntnis von
            Rechtsverstößen
            werden jedoch
            derartige externe Links unverzüglich gelöscht.
          </p><br>
          <p>
            § 3 Urheber- und Leistungsschutzrechte
            Die auf dieser Website veröffentlichten Inhalte unterliegen dem deutschen
            Urheber-
            und
            Leistungsschutzrecht. Jede vom deutschen Urheber- und Leistungsschutzrecht
            nicht
            zugelassene
            Verwertung bedarf der vorherigen schriftlichen Zustimmung des Anbieters oder
            jeweiligen
            Rechteinhabers. Dies gilt insbesondere für Vervielfältigung, Bearbeitung,
            Übersetzung,
            Einspeicherung, Verarbeitung bzw. Wiedergabe von Inhalten in Datenbanken oder
            anderen
            elektronischen
            Medien und Systemen. Inhalte und Rechte Dritter sind dabei als solche
            gekennzeichnet.
            Die unerlaubte
            Vervielfältigung oder Weitergabe einzelner Inhalte oder kompletter Seiten ist
            nicht
            gestattet und
            strafbar. Lediglich die Herstellung von Kopien und Downloads für den
            persönlichen,
            privaten und
            nicht kommerziellen Gebrauch ist erlaubt.

            Die Darstellung dieser Website in fremden Frames ist nur mit schriftlicher
            Erlaubnis
            zulässig.
          </p><br>
          <p>
            § 4 Besondere Nutzungsbedingungen
            Soweit besondere Bedingungen für einzelne Nutzungen dieser Website von den
            vorgenannten Paragraphen
            abweichen, wird an entsprechender Stelle ausdrücklich darauf hingewiesen. In
            diesem
            Falle gelten im
            jeweiligen Einzelfall die besonderen Nutzungsbedingungen.
          </p><br>
          <span>Quelle: Impressum Muster von JuraForum.de</span><br>

          <h2>DATENSCHUTZERKLÄRUNG</h2><br>
          <p> Wir informieren Sie nachfolgend gemäß den gesetzlichen Vorgaben des
            Datenschutzrechts (insb. gemäß
            BDSG n.F. und der europäischen Datenschutz-Grundverordnung ‚DS-GVO‘) über die Art,
            den Umfang und
            Zweck der Verarbeitung personenbezogener Daten durch unser Unternehmen. Diese
            Datenschutzerklärung
            gilt auch für unsere Websites und Sozial-Media-Profile. Bezüglich der Definition
            von Begriffen wie
            etwa „personenbezogene Daten“ oder „Verarbeitung“ verweisen wir auf Art. 4 DS-GVO.
          </p><br>
          <p>
            Name und Kontaktdaten des / der Verantwortlichen
            Unser/e Verantwortliche/r (nachfolgend „Verantwortlicher“) i.S.d. Art. 4 Zif. 7
            DS-GVO ist: Stefan Heinemann

          </p>
          <h3> DATENARTEN, ZWECKE DER VERARBEITUNG UND KATEGORIEN BETROFFENER PERSONEN</h3>
          <p>
            Nachfolgend informieren wir Sie über Art, Umfang und Zweck der Erhebung,
            Verarbeitung
            und Nutzung
            personenbezogener Daten.
          </p><br>
          <p>
            1. Arten der Daten, die wir verarbeiten
            Nutzungsdaten (Zugriffszeiten, besuchte Websites etc.), Bestandsdaten (Name,
            Adresse
            etc.),
            Kontaktdaten (Telefonnummer, E-Mail, Fax etc.), Inhaltsdaten (Texteingaben,
            Videos,
            Fotos etc.),
            Kommunikationsdaten (IP-Adresse etc.),
          </p><br>
          <p>
            2. Zwecke der Verarbeitung nach Art. 13 Abs. 1 c) DS-GVO
            Beweiszwecke / Beweissicherung, Website technisch und wirtschaftlich optimieren,
            Leichten Zugang zur
            Website ermöglichen, Kontaktaufnahme bei juristischer Beanstandung durch Dritte,
            Optimierung und
            statistische Auswertung unserer Dienste, Nutzererfahrung verbessern, Website
            benutzerfreundlich
            gestalten, Marketing / Vertrieb / Werbung, Erstellung von Statistiken, Vermeidung
            von
            SPAM und
            Missbrauch, Kundenservice und Kundenpflege, Kontaktanfragen abwickeln, Maßnahmen
            der
            Sicherheit,
            Unterbrechungsfreier,sicherer Betrieb unserer Website,
          </p><br>
          <p>
            3. Kategorien der betroffenen Personen nach Art. 13 Abs. 1 e) DS-GVO
            Besucher/Nutzer der Website,

            Die betroffenen Personen werden zusammenfassend als „Nutzer“ bezeichnet.

            Rechtsgrundlagen der Verarbeitung personenbezogener Daten
          </p>


          <h3>NACHFOLGEND INFORMIEREN WIR SIE ÜBER DIE RECHTSGRUNDLAGEN DER VERARBEITUNG
            PERSONENBEZOGENER DATEN:</h3>
          <p>
            Wenn wir Ihre Einwilligung für die Verarbeitung personenbezogenen Daten eingeholt
            haben, ist Art. 6
            Abs. 1 S. 1 lit. a) DS-GVO Rechtsgrundlage.
            Ist die Verarbeitung zur Erfüllung eines Vertrags oder zur Durchführung
            vorvertraglicher Maßnahmen
            erforderlich, die auf Ihre Anfrage hin erfolgen, so ist Art. 6 Abs. 1 S. 1 lit. b)
            DS-GVO
            Rechtsgrundlage.
            Ist die Verarbeitung zur Erfüllung einer rechtlichen Verpflichtung erforderlich,
            der
            wir unterliegen
            (z.B. gesetzliche Aufbewahrungspflichten), so ist Art. 6 Abs. 1 S. 1 lit. c)
            DS-GVO
            Rechtsgrundlage.
            Ist die Verarbeitung erforderlich, um lebenswichtige Interessen der betroffenen
            Person oder einer
            anderen natürlichen Person zu schützen, so ist Art. 6 Abs. 1 S. 1 lit. d) DS-GVO
            Rechtsgrundlage.
            Ist die Verarbeitung zur Wahrung unserer oder der berechtigten Interessen eines
            Dritten erforderlich
            und überwiegen diesbezüglich Ihre Interessen oder Grundrechte und Grundfreiheiten
            nicht, so ist Art.
            6 Abs. 1 S. 1 lit. f) DS-GVO Rechtsgrundlage.
          </p>
          <h3>
            WEITERGABE PERSONENBEZOGENER DATEN AN DRITTE UND AUFTRAGSVERARBEITER</h3>
          <p>
            Ohne Ihre Einwilligung geben wir grundsätzlich keine Daten an Dritte weiter.
            Sollte
            dies doch der
            Fall sein, dann erfolgt die Weitergabe auf der Grundlage der zuvor genannten
            Rechtsgrundlagen z.B.
            bei der Weitergabe von Daten an Online-Paymentanbieter zur Vertragserfüllung oder
            aufgrund
            gerichtlicher Anordnung oder wegen einer gesetzlichen Verpflichtung zur Herausgabe
            der Daten zum
            Zwecke der Strafverfolgung, zur Gefahrenabwehr oder zur Durchsetzung der Rechte am
            geistigen
            Eigentum.
            Wir setzen zudem Auftragsverarbeiter (externe Dienstleister z.B. zum Webhosting
            unserer Websites und
            Datenbanken) zur Verarbeitung Ihrer Daten ein. Wenn im Rahmen einer Vereinbarung
            zur
            Auftragsverarbeitung an die Auftragsverarbeiter Daten weitergegeben werden,
            erfolgt
            dies immer nach
            Art. 28 DS-GVO. Wir wählen dabei unsere Auftragsverarbeiter sorgfältig aus,
            kontrollieren diese
            regelmäßig und haben uns ein Weisungsrecht hinsichtlich der Daten einräumen
            lassen.
            Zudem müssen die
            Auftragsverarbeiter geeignete technische und organisatorische Maßnahmen getroffen
            haben und die
            Datenschutzvorschriften gem. BDSG n.F. und DS-GVO einhalten
          </p>
          <h3> DATENÜBERMITTLUNG IN DRITTSTAATEN</h3>
          <p>
            Durch die Verabschiedung der europäischen Datenschutz-Grundverordnung (DS-GVO)
            wurde
            eine
            einheitliche Grundlage für den Datenschutz in Europa geschaffen. Ihre Daten werden
            daher vorwiegend
            durch Unternehmen verarbeitet, für die DS-GVO Anwendung findet. Sollte doch die
            Verarbeitung durch
            Dienste Dritter außerhalb der Europäischen Union oder des Europäischen
            Wirtschaftsraums stattfinden,
            so müssen diese die besonderen Voraussetzungen der Art. 44 ff. DS-GVO erfüllen.
            Das
            bedeutet, die
            Verarbeitung erfolgt aufgrund besonderer Garantien, wie etwa die von der
            EU-Kommission offiziell
            anerkannte Feststellung eines der EU entsprechenden Datenschutzniveaus oder der
            Beachtung offiziell
            anerkannter spezieller vertraglicher Verpflichtungen, der so genannten
            „Standardvertragsklauseln“.
            Bei US-Unternehmen erfüllt die Unterwerfung unter das sog. „Privacy-Shield“, dem
            Datenschutzabkommen
            zwischen der EU und den USA, diese Voraussetzungen.
          </p>
          <h3>LÖSCHUNG VON DATEN UND SPEICHERDAUER</h3>
          <p>
            Sofern nicht in dieser Datenschutzerklärung ausdrücklich angegeben, werden Ihre
            personenbezogen
            Daten gelöscht oder gesperrt, sobald der Zweck für die Speicherung entfällt, es
            sei
            denn deren
            weitere Aufbewahrung ist zu Beweiszwecken erforderlich oder dem stehen gesetzliche
            Aufbewahrungspflichten entgegenstehen. Darunter fallen etwa handelsrechtliche
            Aufbewahrungspflichten
            von Geschäftsbriefen nach § 257 Abs. 1 HGB (6 Jahre) sowie steuerrechtliche
            Aufbewahrungspflichten
            nach § 147 Abs. 1 AO von Belegen (10 Jahre). Wenn die vorgeschriebene
            Aufbewahrungsfrist abläuft,
            erfolgt eine Sperrung oder Löschung Ihrer Daten, es sei denn die Speicherung ist
            weiterhin für einen
            Vertragsabschluss oder zur Vertragserfüllung erforderlich.
          </p><br>
          <p>
            Bestehen einer automatisierten Entscheidungsfindung

            Wir setzen keine automatische Entscheidungsfindung oder ein Profiling ein.

            Bereitstellung unserer Website und Erstellung von Logfiles
          </p><br>
          <p>
            Wenn Sie unsere Webseite lediglich informatorisch nutzen (also keine Registrierung
            und auch keine
            anderweitige Übermittlung von Informationen), erheben wir nur die
            personenbezogenen
            Daten, die Ihr
            Browser an unseren Server übermittelt. Wenn Sie unsere Website betrachten möchten,
            erheben wir die
            folgenden Daten: <br><br>
            • IP-Adresse; <br>
            • Internet-Service-Provider des Nutzers;<br>
            • Datum und Uhrzeit des Abrufs;<br>
            • Browsertyp;<br>
            • Sprache und Browser-Version;<br>
            • Inhalt des Abrufs;<br>
            • Zeitzone;<br>
            • Zugriffsstatus/HTTP-Statuscode;<br>
            • Datenmenge;<br>
            • Websites, von denen die Anforderung kommt;<br>
            • Betriebssystem; <br><br>
            Eine Speicherung dieser Daten zusammen mit anderen personenbezogenen Daten von
            Ihnen
            findet nicht
            statt.
          </p><br>
          <p>
            Diese Daten dienen dem Zweck der nutzerfreundlichen, funktionsfähigen und sicheren
            Auslieferung
            unserer Website an Sie mit Funktionen und Inhalten sowie deren Optimierung und
            statistischen
            Auswertung.
          </p>
          <p>
            Rechtsgrundlage hierfür ist unser in den obigen Zwecken auch liegendes
            berechtigtes
            Interesse an der
            Datenverarbeitung nach Art. 6 Abs. 1 S.1 lit. f) DS-GVO.
          </p>
          <p>
            Wir speichern aus Sicherheitsgründen diese Daten in Server-Logfiles für die
            Speicherdauer von Tagen.
            Nach Ablauf dieser Frist werden diese automatisch gelöscht, es sei denn wir
            benötigen
            deren
            Aufbewahrung zu Beweiszwecken bei Angriffen auf die Serverinfrastruktur oder
            anderen
            Rechtsverletzungen.
          </p>

          <h3>DETAILIERTE INFORMATION ZU UNSEREN COOKIES</h3>
          <p>Diese Seite verwendet keine Cookies.</p>

          <h3>KONTAKTAUFNAHME PER KONTAKTFORMULAR / E-MAIL / POST</h3>
          <p>
            Bei der Kontaktaufnahme mit uns per Kontaktformular, Fax, Post oder E-Mail werden
            Ihre Angaben zum
            Zwecke der Abwicklung der Kontaktanfrage verarbeitet.
          </p>
          <p>
            Rechtsgrundlage für die Verarbeitung der Daten ist bei Vorliegen einer
            Einwilligung
            von Ihnen Art. 6
            Abs. 1 S. 1 lit. a) DS-GVO. Rechtsgrundlage für die Verarbeitung der Daten, die im
            Zuge einer
            Kontaktanfrage oder E-Mail, eines Briefes oder Faxes übermittelt werden, ist Art.
            6
            Abs. 1 S. 1 lit.
            f) DS-GVO. Der Verantwortliche hat ein berechtigtes Interesse an der Verarbeitung
            und
            Speicherung
            der Daten, um Anfragen der Nutzer beantworten zu können, zur Beweissicherung aus
            Haftungsgründen und
            um ggf. seiner gesetzlichen Aufbewahrungspflichten bei Geschäftsbriefen nachkommen
            zu
            können. Zielt
            der Kontakt auf den Abschluss eines Vertrages ab, so ist zusätzliche
            Rechtsgrundlage
            für die
            Verarbeitung Art. 6 Abs. 1 S. 1 lit. b) DS-GVO.
          </p>
          <p>
            Wir können Ihre Angaben und Kontaktanfrage in unserem
            Customer-Relationship-Management System ("CRM
            System") oder einem vergleichbaren System speichern.
          </p>
          <p>
            Die Daten werden gelöscht, sobald sie für die Erreichung des Zweckes ihrer
            Erhebung
            nicht mehr
            erforderlich sind. Für die personenbezogenen Daten aus der Eingabemaske des
            Kontaktformulars und
            diejenigen, die per E-Mail übersandt wurden, ist dies dann der Fall, wenn die
            jeweilige Konversation
            mit Ihnen beendet ist. Beendet ist die Konversation dann, wenn sich aus den
            Umständen
            entnehmen
            lässt, dass der betroffene Sachverhalt abschließend geklärt ist. Anfragen von
            Nutzern, die über
            einen Account bzw. Vertrag mit uns verfügen, speichern wir bis zum Ablauf von zwei
            Jahren nach
            Vertragsbeendigung. Im Fall von gesetzlichen Archivierungspflichten erfolgt die
            Löschung nach deren
            Ablauf: Ende handelsrechtlicher (6 Jahre) und steuerrechtlicher (10 Jahre)
            Aufbewahrungspflicht.
          </p>
          <p>
            Sie haben jederzeit die Möglichkeit, die Einwilligung nach Art. 6 Abs. 1 S. 1 lit.
            a)
            DS-GVO zur
            Verarbeitung der personenbezogenen Daten zu widerrufen. Nehmen Sie per E-Mail
            Kontakt
            mit uns auf,
            so können Sie der Speicherung der personenbezogenen Daten jederzeit widersprechen.
          </p>
          <p>
            Kontaktaufnahme per Telefon

            Bei der Kontaktaufnahme mit uns per Telefon wird Ihre Telefonnummer zur
            Bearbeitung
            der
            Kontaktanfrage und deren Abwicklung verarbeitet und temporär im RAM / Cache des
            Telefongerätes /
            Displays gespeichert bzw. angezeigt. Die Speicherung erfolgt aus Haftungs- und
            Sicherheitsgründen,
            um den Beweis des Anrufs führen zu können sowie aus wirtschaftlichen Gründen, um
            einen Rückruf zu
            ermöglichen. Im Falle von unberechtigten Werbeanrufen, sperren wir die Rufnummern.
          </p>
          <p>
            Rechtsgrundlage für die Verarbeitung der Telefonnummer ist Art. 6 Abs. 1 S. 1 lit.
            f)
            DS-GVO. Zielt
            der Kontakt auf den Abschluss eines Vertrages ab, so ist zusätzliche
            Rechtsgrundlage
            für die
            Verarbeitung Art. 6 Abs. 1 lit. b) DS-GVO.
          </p>
          <p>
            Der Gerätecache speichert die Anrufe Tage und überschreibt bzw. löscht sukzessiv
            alte
            Daten, bei
            Entsorgung des Gerätes werden alle Daten gelöscht und der Speicher ggf. zerstört.
            Gesperrte
            Telefonnummer werden jährlich auf die Notwendigkeit der Sperrung geprüft.
          </p>
          <p>
            Sie können die Anzeige der Telefonnummer verhindern, indem Sie mit unterdrückter
            Telefonnummer
            anrufen.
          </p>
          <h3>GOOGLE MAPS</h3>
          <p>
            Wir haben auf unserer Website Karten von „Google Maps“ (Google Inc., 1600
            Amphitheater Parkway,
            Mountainview, California 94043, USA, EU-Niederlassung: Google Dublin, Google
            Ireland
            Ltd., Gordon
            House, Barrow Street, Dublin 4, Ireland) integriert. Damit können wirden Standort
            von
            Adressen und
            eine Anfahrtsbeschreibung direkt auf unserer Website in interaktiven Karten
            anzeigen
            und Ihnen die
            Nutzung dieses Tools ermöglichen.
          </p>
          <p>
            Bei dem Abruf unserer Website, wo Google Maps integriert ist, wird eine Verbindung
            zu
            den Servern
            von Google in den USA aufgebaut. Hierbei können Ihre IP und Standort an Google
            übertragen werden.
            Zudem erhält Google die Information, dass Sie die entsprechende Seite aufgerufen
            haben. Dies erfolgt
            auch ohne Nutzerkonto bei Google. Sollten Sie in Ihren Google-Account eingeloggt
            sein, kann Google
            die obigen Daten Ihrem Account zuordnen. Wenn Sie dies nicht wünschen, müssen Sie
            sich bei Ihrem
            Google-Account ausloggen. Google erstellt aus solchen Daten Nutzerprofile und
            nutzt
            diese Daten zum
            Zwecke der Werbung, Marktforschung oder Optimierung seiner Websites.
          </p>
          <p>
            Rechtsgrundlage hierfür ist unser in den obigen Zwecken auch liegendes
            berechtigtes
            Interesse an der
            Datenverarbeitung nach Art. 6 Abs. 1 S.1 lit. f) DS-GVO.
          </p>
          <p>
            Sie haben gegenüber Google ein Widerspruchsrecht gegen die Bildung von
            Nutzerprofilen. Bitte richten
            Sie sich deswegen direkt an Google über die unten genannte Datenschutzerklärung.
            Ein
            Opt-Out-Widerspruch hinsichtlich der Werbe-Cookies können Sie hier in Ihrem
            Google-Account
            vornehmen:
            https://adssettings.google.com/authenticated.
          </p>
          <p>
            In den Nutzungsbedingungen von Google Maps unter
            https://www.google.com/intl/de_de/help/terms_maps.html und in der
            Datenschutzerklärung für Werbung
            von Google unter https://policies.google.com/technologies/ads finden Sie weitere
            Informationen zur
            Verwendung von Google Cookies und deren Werbetechnologien, Speicherdauer,
            Anonymisierung,
            Standortdaten, Funktionsweise und Ihre Rechte. Allgemeine Datenschutzerklärung von
            Google:
            https://policies.google.com/privacy.
          </p>
          <p>
            Google ist nach dem EU-US Privacy Shield zertifiziert
            (https://www.privacyshield.gov/EU-US-Framework) und daher verpflichtet
            europäisches
            Datenschutzrecht
            einzuhalten.
          </p>


          <h3>PRÄSENZ IN SOZIALEN MEDIEN</h3>
          <p>
            Wir unterhalten in sozialen Medien Profile bzw. Fanpages, um mit den dort
            angeschlossenen und
            registrierten Nutzern zu kommunizieren und um über unsere Produkte, Angebote und
            Dienstleistungen zu
            informieren. Die US-Anbieter sind nach dem sog. Privacy-Shield zertifiziert und
            damit
            verpflichtet
            europäischen Datenschutz einzuhalten. Bei der Nutzung und dem Aufruf unseres
            Profils
            im jeweiligen
            Netzwerk durch Sie gelten die jeweiligen Datenschutzhinweise und
            Nutzungsbedingungen
            des jeweiligen
            Netzwerks.
          </p>
          <p>
            Wir verarbeiten Ihre Daten, die Sie uns über diese Netzwerke senden, um mit Ihnen
            zu
            kommunizieren
            und um Ihre dortigen Nachrichten zu beantworten.
          </p>
          <p>
            Die Rechtsgrundlage für die Verarbeitung der personenbezogenen Daten ist unser
            berechtigtes
            Interesse an der Kommunikation mit den Nutzern und unsere Außendarstellung zwecks
            Werbung gemäß Art.
            6 Abs. 1 S. 1 lit. f) DS-GVO. Soweit Sie dem Verantwortlichen des sozialen
            Netzwerks
            eine
            Einwilligung in die Verarbeitung Ihrer personenbezogenen Daten erteilt haben, ist
            Rechtsgrundlage
            Art. 6 Abs. 1 S. 1 lit. a) und Art. 7 DS-GVO.
          </p>
          <p>
            Die Datenschutzhinweise, Auskunftsmöglichkeiten und Widerspruchmöglichkeiten
            (Opt-Out) der
            jeweiligen Netzwerke finden Sie hier:
          </p><br>
          <ul>
            <li>
              <p style="text-align: left;">
                Facebook (Facebook Ireland Ltd., 4 Grand Canal Square, Grand Canal Harbour,
                Dublin
                2, Irland) <br>
                Datenschutzerklärung: <a href="https://www.facebook.com/about/privacy/"
                  target="_blank">https://www.facebook.com/about/privacy</a><br>
                Opt-Out:
                <a href="https://www.facebook.com/settings?tab=ads"
                  target="_blank">https://www.facebook.com/settings?tab=ads</a>
                <a href="http://www.youronlinechoices.com"
                  target="_blank">http://www.youronlinechoices.com</a><br>
                Privacy Shield:
                <a href="https://www.privacyshield.gov/participant?id=a2zt0000000GnywAAC&status=Active"
                  target="_blank">https://www.privacyshield.gov/participant?id=a2zt0000000GnywAAC&status=Active</a>
              </p>
            </li>
            <br>
            <li>
              <p style="text-align: left;">
                Google+ (Google LLC, 1600 AmphitheatreParkway, Mountain View, CA 94043,
                USA)
                <br>
                Datenschutzerklärung:
                <a href="https://policies.google.com/privacy"
                  target="_blank">https://policies.google.com/privacy,
                </a>
                <a href="https://policies.google.com/privacy"
                  target="_blank">https://policies.google.com/privacy</a>
                <br>
                Opt-Out: <a href="https://adssettings.google.com/authenticated"
                  target="_blank">https://adssettings.google.com/authenticated</a>
                <br>
                Privacy Shield: <a
                  href="https://www.privacyshield.gov/participant?id=a2zt000000001L5AAI&status=Active"
                  target="_blank">https://www.privacyshield.gov/participant?id=a2zt000000001L5AAI&status=Active</a>
              </p>
            </li>
            <br>
            <li>
              <p style="text-align: left;">
                Instagram (Instagram Inc., 1601 Willow Road, Menlo Park, CA, 94025, USA)
                <br>
                Datenschutzerklärung/Opt-Out: <a href="http://instagram.com/about/legal/privacy/"
                  target="_blank">http://instagram.com/about/legal/privacy/</a>
              </p>
            </li>
            <br>
            <li>
              <p>
                Xing (Xing, Consell de Cent, 334-336, 1º 1ª, 08009 Barcelona, Spanien)<br>
                Datenschutzerklärung: <a href="https://privacy.xing.com/de/datenschutzerklaerung"
                  target="_blank">https://privacy.xing.com/de/datenschutzerklaerung</a>
              </p>
            </li>
            <br>
            <li>
              <p>
                Github <br>
                Datenschutzerklärung: <a
                  href="https://docs.github.com/de/site-policy/privacy-policies/github-privacy-statement"
                  target="_blank">https://docs.github.com/de/site-policy/privacy-policies/github-privacy-statement</a>
              </p>
            </li>
          </ul>
          <p><br>
            Datenschutz bei Bewerbungen und im Bewerberverfahren <br>

            Bewerbungen, die auf elektronischem Wege oder per Post an den Verantwortlichen
            gesendet werden,
            werden zum Zwecke der Abwicklung des Bewerberverfahrens elektronisch oder manuell
            verarbeitet.
            <br>
            Wir weisen ausdrücklich darauf hin, dass Bewerbungsunterlagen mit „besonderen
            Kategorien
            personenbezogener Daten“ nach Art. 9 DS-GVO (z.B. ein Foto, welches Rückschlüsse
            auf
            Ihre ethnische
            Herkunft, Religion oder Ihren Familienstand gibt), mit Ausnahme einer eventuellen
            Schwerbehinderung,
            welche Sie aus freier Entscheidung offenlegen möchten, unerwünscht sind. Sie
            sollen
            Ihre Bewerbung
            ohne diese Daten einreichen. Dies hat keine Auswirkungen auf Ihre Bewerberchancen.
            <br>
            Rechtsgrundlagen für die Verarbeitung sind Art. 6 Abs. 1 S.1 lit. b) DS-GVO sowie
            §
            26 BDSG n.F.
            <br>
            Wird nach Abschluss des Bewerberverfahrens, ein Arbeitsverhältnis mit dem Bewerber
            /
            der Bewerberin
            eingegangen, werden die Bewerberdaten unter Beachtung einschlägiger
            Datenschutzvorschriften
            gespeichert. Wird Ihnen nach Abschluss des Bewerberverfahrens keine Stelle
            angeboten,
            so wird Ihr
            eingereichtes Bewerbungsschreiben samt Unterlagen 6 Monate nach Versand der Absage
            gelöscht, um
            etwaigen Ansprüchen und Nachweispflichten nach AGG genügen zu können.
          </p>
          <h3>RECHTE DER BETROFFENEN PERSON</h3>
          <p>
            Widerspruch oder Widerruf gegen die Verarbeitung Ihrer Daten
            <br>
            Soweit die Verarbeitung auf Ihrer Einwilligung gemäß Art. 6 Abs. 1 S. 1 lit. a),
            Art.
            7 DS-GVO
            beruht, haben Sie das Recht, die Einwilligung jederzeit zu widerrufen. Die
            Rechtmäßigkeit der
            aufgrund der Einwilligung bis zum Widerruf erfolgten Verarbeitung wird dadurch
            nicht
            berührt.
            <br>
            Soweit wir die Verarbeitung Ihrer personenbezogenen Daten auf die
            Interessenabwägung
            gemäß Art. 6
            Abs. 1 S. 1 lit. f) DS-GVO stützen, können Sie Widerspruch gegen die Verarbeitung
            einlegen. Dies ist
            der Fall, wenn die Verarbeitung insbesondere nicht zur Erfüllung eines Vertrags
            mit
            Ihnen
            erforderlich ist, was von uns jeweils bei der nachfolgenden Beschreibung der
            Funktionen dargestellt
            wird. Bei Ausübung eines solchen Widerspruchs bitten wir um Darlegung der Gründe,
            weshalb wir Ihre
            personenbezogenen Daten nicht wie von uns durchgeführt verarbeiten sollten. Im
            Falle
            Ihres
            begründeten Widerspruchs prüfen wir die Sachlage und werden entweder die
            Datenverarbeitung
            einstellen bzw. anpassen oder Ihnen unsere zwingenden schutzwürdigen Gründe
            aufzeigen, aufgrund
            derer wir die Verarbeitung fortführen.
            <br>
            Sie können der Verarbeitung Ihrer personenbezogenen Daten für Zwecke der Werbung
            und
            Datenanalyse
            jederzeit widersprechen. Das Widerspruchsrecht können Sie kostenfrei ausüben. Über
            Ihren
            Werbewiderspruch können Sie uns unter folgenden Kontaktdaten informieren:
          </p>
          Stefan Heinemann
          Schmiedegasse 53
          14469, Potsdam, Deutschland

          <h3>RECHT AUF AUSKUNFT</h3>
          <p>
            Sie haben das Recht, von uns eine Bestätigung darüber zu verlangen, ob Sie
            betreffende
            personenbezogene Daten verarbeitet werden. Sofern dies der Fall ist, haben Sie ein
            Recht auf
            Auskunft über Ihre bei uns gespeicherten persönlichen Daten nach Art. 15 DS-GVO.
            Dies
            beinhaltet
            insbesondere die Auskunft über die Verarbeitungszwecke, die Kategorie der
            personenbezogenen Daten,
            die Kategorien von Empfängern, gegenüber denen Ihre Daten offengelegt wurden oder
            werden, die
            geplante Speicherdauer, die Herkunft ihrer Daten, sofern diese nicht direkt bei
            Ihnen
            erhoben
            wurden.
            <br>
            Recht auf Berichtigung
            Sie haben ein Recht auf Berichtigung unrichtiger oder auf Vervollständigung
            richtiger
            Daten nach
            Art. 16 DS-GVO.
          </p>
          <h3>RECHT AUF LÖSCHUNG</h3>
          <p>
            Sie haben ein Recht auf Löschung Ihrer bei uns gespeicherten Daten nach Art. 17
            DS-GVO, es sei denn
            gesetzliche oder vertraglichen Aufbewahrungsfristen oder andere gesetzliche
            Pflichten
            bzw. Rechte
            zur weiteren Speicherung stehen dieser entgegen.
          </p>


          <h3>RECHT AUF EINSCHRÄNKUNG</h3>
          <p>
            Sie haben das Recht, eine Einschränkung bei der Verarbeitung Ihrer
            personenbezogenen
            Daten zu
            verlangen, wenn eine der Voraussetzungen in Art. 18 Abs. 1 lit. a) bis d) DS-GVO
            erfüllt ist: <br>
            • Wenn Sie die Richtigkeit der Sie betreffenden personenbezogenen für eine Dauer
            bestreiten, die es
            dem Verantwortlichen ermöglicht, die Richtigkeit der personenbezogenen Daten zu
            überprüfen; <br><br>

            • die Verarbeitung unrechtmäßig ist und Sie die Löschung der personenbezogenen
            Daten
            ablehnen und
            stattdessen die Einschränkung der Nutzung der personenbezogenen Daten verlangen;
            <br><br>
            • der Verantwortliche die personenbezogenen Daten für die Zwecke der Verarbeitung
            nicht länger
            benötigt, Sie diese jedoch zur Geltendmachung, Ausübung oder Verteidigung von
            Rechtsansprüchen
            benötigen, oder
            <br><br>
            • wenn Sie Widerspruch gegen die Verarbeitung gemäß Art. 21 Abs. 1 DS-GVO
            eingelegt
            haben und noch
            nicht feststeht, ob die berechtigten Gründe des Verantwortlichen gegenüber Ihren
            Gründen überwiegen.
          </p>
          <h3>RECHT AUF DATENÜBERTRAGBARKEIT</h3>
          <p>
            Sie haben ein Recht auf Datenübertragbarkeit nach Art. 20 DS-GVO, was bedeutet,
            dass
            Sie die bei uns
            über Sie gespeicherten personenbezogenen Daten in einem strukturierten, gängigen
            und
            maschinenlesbaren Format erhalten können oder die Übermittlung an einen anderen
            Verantwortlichen
            verlangen können.
          </p>
          <h3>RECHT AUF BESCHWERDE</h3>
          <p>
            Sie haben ein Recht auf Beschwerde bei einer Aufsichtsbehörde. In der Regel können
            Sie sich hierfür
            an die Aufsichtsbehörde insbesondere in dem Mitgliedstaat ihres Aufenthaltsorts,
            ihres
            Arbeitsplatzes oder des Orts des mutmaßlichen Verstoßes wenden.
          </p>


          <h3>DATENSICHERHEIT</h3>
          <p>
            Um alle personenbezogen Daten, die an uns übermittelt werden, zu schützen und um
            sicherzustellen,
            dass die Datenschutzvorschriften von uns, aber auch unseren externen
            Dienstleistern
            eingehalten
            werden, haben wir geeignete technische und organisatorische Sicherheitsmaßnahmen
            getroffen. Deshalb
            werden unter anderem alle Daten zwischen Ihrem Browser und unserem Server über
            eine
            sichere
            SSL-Verbindung verschlüsselt übertragen.
          </p><br>
          <span>Stand: 11.12.2019</span>
          <span>Quelle: Muster-Datenschutzerklärung von JuraForum.de</span>
        </div>
      </div>
      <div class="close-btn-bottom" (click)="toggleImpressum()">
        <img src="assets/img/header/icon_close.svg" alt="">
      </div>
      <!-- end impressum -->
    </div>
    <div class="close-btn" (click)="toggleImpressum()">
      <img src="assets/img/header/icon_close.svg" alt="">
    </div>
  </div>
</div>