<div class="about-wrapper">

  <div class="about-me-container" id="about">
    <div class="about-left">
      <div class="headline">About me</div>
      <div class="about-main-text">After over 20 years of running my own business in interior design
        with up to 20 employees, it was time to do something different. <br> I remembered my early
        enthusiasm for programming and decided to make it my new soul task. <br> So I began to study
        many areas of IT like system integration, cryptography, coding and web design. <br> Finally,
        at the end of
        2022, I was good enough to offer my services to the world as a
        freelancer: Hello world.
      </div>
      <div class="about-special-container">
        <div class="about-special-text">
          <div style="display: inline-block;"><img src="assets/img/start/icon_bulp_green.svg"
              alt="">
          </div>
          <div>A Special interest of work with Photoshop and Figma.
          </div>
        </div>
        <div class="about-special-text">
          <div><img src="assets/img/start/icon_puzzle_green.png" alt=""></div>
          <div>Feel free to ask me for jobs as scrum master or product owner.
          </div>
        </div>
      </div>
    </div>

    <div class="about-right mobile-none">
      <img src="assets/img/start/portrait_klein_grün.png" alt="portrait-klein">
      <img src="assets/img/start/shadow_purple_about.png" alt="background-shadow">
      <div class="about-horizontal-line-green"></div>

    </div>

  </div>


</div>