$breakpoint_1: 1410px;
$breakpoint_2: 1270px;
$breakpoint_3: 1140px;
$breakpoint_4: 1000px;
$breakpoint_5: 768px;
$breakpoint_6: 540px;

.about-wrapper {
  display: flex;
}

.about-container {
  display: flex;
}

@media (max-width: $breakpoint_4) {
  .about-wrapper {
  }

  .about-container {
  }
}

@media (max-width: $breakpoint_5) {
  .about-container {
  }
}

@media (max-width: $breakpoint_6) {
  .about-container {
  }
}
