<div class="about-wrapper">

  <div class="about-me-container" id="about">
    <div class="about-left">
      <div class="headline">About me</div>
      <div class="about-main-text">Lorem ipsum dolor sit amet consectetur adipisicing elit.
        Autem eligendi asperiores vero temporibus totam? Cumque quasi nihil modi dolorem! Ut
        obcaecati distinctio quaerat cumque voluptatibus velit aperiam tempore possimus aliquam!
      </div>
      <div class="about-special-container">
        <div class="about-special-text">
          <div style="display: inline-block;"><img src="assets/img/start/icon_bulp_green.svg"
              alt="">
          </div>
          <div>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quos perferendis
            consequatur tenetur ipsum.
          </div>
        </div>
        <div class="about-special-text">
          <div><img src="assets/img/start/icon_puzzle_green.png" alt=""></div>
          <div>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quos perferendis
            consequatur tenetur ipsum.
          </div>
        </div>
      </div>
    </div>

    <div class="about-right mobile-none">
      <img src="assets/img/start/portrait_klein_grün.png" alt="portrait-klein">
      <img src="assets/img/start/shadow_purple_about.png" alt="background-shadow">
      <div class="about-horizontal-line-green"></div>

    </div>

  </div>


</div>