<div class="start-wrapper">
  <div class="start-container">

    <div class="start-left-side">
      <img src="/assets/img/start/photo shadows.png" alt="">
      <img src="/assets/img/start/portrait_oberteil.png" alt="">
      <img src="/assets/img/start/portrait_unterteil.png" alt="">
    </div>

    <div class="start-right-side">
      <div class="start-text-wrapper">
        <div class="start-vertical-text">I am</div>

        <div class="start-horizontal-text">
          <span class="horizontal-first-line">Stefan Heinemann</span>
          <span class="horziontal-second-line">Frontend developer</span>
        </div>

      </div>
      <button>Let's talk</button>
    </div>
  </div>
</div>