$breakpoint_1: 1350px;
$breakpoint_2: 1225px;
$breakpoint_3: 1140px;
$breakpoint_4: 1000px;
$breakpoint_5: 768px;
$breakpoint_6: 540px;

.start-wrapper {
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: var(--dark-blue-bg);
  overflow: hidden;
}

.start-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1440px;
  padding: 130px 100px 0 100px;

  .start-first-row {
    display: flex;
    justify-content: space-between;
  }

  .start-left-side {
    display: flex;
    position: relative;

    img:nth-child(1) {
      position: absolute;
      left: 0px;
      top: 0px;
      height: 700px;
      z-index: 0;
      margin-left: -150px;
    }
    img:nth-child(2) {
      height: 700px;
      z-index: 3;
    }
    img:nth-child(3) {
      position: absolute;
      left: 0px;
      top: 0px;
      height: 700px;
      z-index: 1;
    }
    img:nth-child(4) {
      position: absolute;
      left: -100px;
      top: 170px;

      z-index: 2;
    }
  }
}

.start-right-side {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  font-size: 10px;
  z-index: 3;

  .start-text-wrapper {
    display: flex;
    gap: 10px;
    font-size: 1em;
    padding-top: 120px;

    .start-vertical-text {
      display: flex;
      align-items: flex-end;
      justify-content: flex-end;
      transform: rotate(-90deg);
      font-size: 5em;
      font-weight: 400;
      line-height: 1em;
      text-align: start;
      color: greenyellow;
      // flex-grow: 0;
    }

    .start-horizontal-text {
      display: flex;
      flex-direction: column;
      color: aquamarine;
      text-align: end;
      font-size: 1em;

      span:nth-child(1) {
        font-size: 6em;
        line-height: 1em;
        font-weight: 700;
      }

      span:nth-child(2) {
        font-size: 5.8em;
        font-weight: 400;
        color: var(--purple);
        line-height: 1em;
      }
    }
  }
}

.start-second-row {
  display: flex;
  position: relative;
  justify-content: flex-start;
  z-index: 4;
  font-size: 2.3rem;
  padding-bottom: 150px;

  .start-second-row-left {
    display: flex;
    gap: 42px;
    align-items: center;

    .start-social {
      display: flex;
      align-items: center;
      gap: 42px;

      a {
        display: flex;
        align-items: center;
        transition: all 0.2s ease;

        &:nth-child(1),
        &:nth-child(2),
        &:nth-child(3) {
          &:hover {
            scale: 1.3;
          }
        }
      }
    }
  }
  .horizontal-line-purple {
    width: 100px;
    height: 4px;
    background-color: var(--purple);
    margin-left: -100px;
  }

  .start-second-row-right {
    display: flex;
    position: absolute;
    right: -70px;
    top: 70px;
    gap: 5px;
    rotate: 90deg;
    margin-top: -135px;
    z-index: 4;

    img {
      rotate: 90deg;
      margin-top: 7px;
    }
  }
}

@media (max-width: #{$breakpoint_1}) {
  .start-right-side {
    font-size: 8px !important;
  }
}

@media (max-width: $breakpoint_2) {
  .start-right-side {
    font-size: 6px !important;
  }
}

@media (max-width: $breakpoint_3) {
  .start-right-side {
    font-size: 4px !important;
  }
}

@media (max-width: $breakpoint_4) {
  .mobile-none {
    display: none !important;
  }
  .desktop-none {
    display: flex !important;
  }

  .start-container {
    padding: 110px 25px 0 25px;
    // gap: 20px;
    height: unset;
    .start-first-row {
      flex-direction: column;
      align-items: center;
    }
  }

  .start-left-side {
    justify-content: center;
    width: 100%;

    img:nth-child(1) {
      //shadow absolut
      top: 0 !important;
      left: 50% !important;
      height: 250px !important;
    }

    img:nth-child(2) {
      //oberteil releative
      height: 250px !important;
    }

    img:nth-child(3) {
      // unterteil absolut
      height: 250px !important;
      top: 0 !important;
      left: 50% !important;
      transform: translateX(-50%) !important;
    }
    img:nth-child(4) {
      // unterteil absolute
      top: -135px !important;
      left: 50% !important;
      transform: translateX(-50%) !important;
    }
  }
  .start-text-wrapper {
    padding-top: 0px !important;
    margin-left: -25px;
  }
}

@media (max-width: $breakpoint_5) {
  .start-text-wrapper {
    font-size: 0.95em !important;
  }
}

@media (max-width: $breakpoint_6) {
  .start-social {
    gap: 32px !important;
  }
}
