<div class="start-wrapper">
  <div class="start-container">

    <div class="start-first-row">
      <div class="start-left-side">
        <img src="/assets/img/start/photo shadows.png" alt="background-shadow">
        <img src="/assets/img/start/portrait_oberteil.png" alt="portrait-upper-part">
        <img src="/assets/img/start/portrait_unterteil.png" alt="portrait-lower-part">
        <img src="/assets/img/start/wave.svg" alt="wave">
      </div>

      <div class="start-right-side">
        <div class="start-text-wrapper">
          <div class="start-vertical-text">I am</div>
          <div class="start-horizontal-text">
            <span class="horizontal-first-line">Stefan Heinemann</span>
            <span class="horziontal-second-line">Frontend developer</span>
          </div>
        </div>
        <button>Let's talk</button>
      </div>
    </div>

    <div class="start-second-row">
      <div class="start-second-row-left">
        <div class="horizontal-line-purple"></div>
        <div class="start-social">
          <a href="https://github.com/StefanPdm" target="_blank"><img
              src="assets/img/start/icon_github.svg" alt="github"></a>
          <a href="https://www.linkedin.com/in/stefan-heinemann-317377267/" target="_blank"><img
              src="assets/img/start/icon_linkedin.svg" alt="linkedin"></a>
          <a href="https://www.xing.com/profile/Stefan_Heinemann36/cv" target="_blank"><img
              src="assets/img/start/icon_xing.png" alt="xing"></a>
          <a href="mailto:stefan@heinemann.berlin">stefan@heinemann.berlin</a>
        </div>
      </div>
      <div class="start-second-row-right">
        <div>Scroll down</div>
        <div><img src="assets/img/start/arrow_pure.png" alt=""></div>
      </div>




    </div>

    <div class="about-me-container">
      <div class="about-left">
        <div class="about-headline">About me</div>
        <div class="about-main-text">Lorem ipsum dolor sit amet consectetur adipisicing elit.
          Autem eligendi asperiores vero temporibus totam? Cumque quasi nihil modi dolorem! Ut
          obcaecati distinctio quaerat cumque voluptatibus velit aperiam tempore possimus aliquam!
        </div>
        <div class="about-special-container">
          <div class="about-special-text">
            <div style="display: inline-block;"><img src="assets/img/start/icon_bulp_green.svg"
                alt=""></div>
            <div>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quos perferendis
              consequatur tenetur ipsum.
            </div>
          </div>
          <div class="about-special-text">
            <div><img src="assets/img/start/icon_puzzle_green.png" alt=""></div>
            <div>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quos perferendis
              consequatur tenetur ipsum.
            </div>
          </div>
        </div>
      </div>

      <div class="about-right">
        <img src="assets/img/start/portrait_klein_grün.png" alt="portrait-klein">
        <img src="assets/img/start/shadow_purple_about.png" alt="background-shadow">
        <div class="about-horizontal-line-green"></div>

      </div>

    </div>

  </div>
</div>