<div class="start-wrapper">
  <div class="start-container">
    <div class="start-first-row">
      <div class="start-left-side">
        <div class="upper-part">
          <img src="/assets/img/start/portrait_oberteil.png" alt="portrait-upper-part">
        </div>
        <div class="lower-part">
          <img src="/assets/img/start/portrait_unterteil.png" alt="portrait-lower-part">
        </div>
        <div class="background-shadow">
          <img src="/assets/img/start/photo shadows.png" alt="background-shadow">
        </div>
        <div class="wave-container">
          <img src="/assets/img/start/wave.svg" alt="wave">
        </div>
      </div>
      <div class="start-right-side">
        <div class="start-text-wrapper">
          <div class="start-vertical-text">I am</div>
          <div class="start-horizontal-text">
            <span class="horizontal-first-line">Stefan Heinemann</span>
            <span class="horziontal-second-line">Frontend developer</span>
          </div>
        </div>
        <a href="#contact"><button>Let's talk</button></a>
      </div>
    </div>
    <div class="start-second-row">
      <div class="start-second-row-left">
        <div class="horizontal-line-purple"></div>
        <div class="start-social">
          <a href="https://github.com/StefanPdm" target="_blank"><img
              src="assets/img/start/icon_github.svg" alt="github"></a>
          <a href="https://www.linkedin.com/in/stefan-heinemann-317377267/" target="_blank"><img
              src="assets/img/start/icon_linkedin.svg" alt="linkedin"></a>
          <a href="https://www.xing.com/profile/Stefan_Heinemann36/cv" target="_blank"><img
              src="assets/img/start/icon_xing.png" alt="xing"></a>
          <a href="mailto:developer@heinemann.berlin" class="desktop-none"><img
              src="assets/img/start/icon_mail.svg" alt="mail"></a>
          <a href="mailto:stefan@heinemann.berlin" class="mobile-none">stefan@heinemann.berlin</a>
        </div>
      </div>
      <div class="start-second-row-right mobile-none">
        <div>Scroll down</div>
        <div><img src="assets/img/start/arrow_pure.png" alt=""></div>
      </div>
    </div>
  </div>
</div>