<div class="contact-wrapper" id="contact">
  <div class="contact-container">
    <div class="contact-headline-container">
      <div></div>
      <div class="headline">Contact</div>
    </div>
    <div class="contact-form-container">
      <div class="contact-form-left">
        <span>
          Got a problem to solve? <br><br>
        </span>
        <span>
          Contact me through this form, I am interested in hearing you, knowing your ideas and
          contributing to
          your projects with my work. <br><br>
          Need a front-end developer? <strong>Contact me!</strong>
        </span>
      </div>
      <div class="contact-form-right">
        <form (submit)="sendMail()" #contactForm autocomplete="off" method="post" action="/form">
          <div class="input-field-wrapper">
            <input role="presentation" contenteditable="true" type="text" placeholder="Your name"
              name="name" #name id="name">
            <label for="name">Your name is required</label>
            <div class="status-wrapper d-none">
              <img src="assets/img/contact/exclamation_mark.png" alt="status sign">
            </div>
          </div>

          <div class="input-field-wrapper">
            <input role="presentation" type="email" placeholder="Your email" name="email" #email
              id="email">
            <label for="email">Your email is not valid</label>
            <div class="status-wrapper d-none">
              <img src="assets/img/contact/exclamation_mark.png" alt="status sign">
            </div>
          </div>


          <div class="input-field-wrapper textarea-field">

            <div class="resize-wrapper">
              <div class="pull-tab"></div>
            </div>
            <textarea role="presentation" placeholder="Your message" name="message" #message
              id="message"></textarea>
            <label for="message">Your message is empty</label>
            <div class="status-wrapper d-none">
              <img src="assets/img/contact/exclamation_mark.png" alt="status sign">
            </div>
          </div>
          <label class="send-message">
            Your contact request has been sent.
          </label>
          <button
            [disabled]="!this.eventlisteners[0].boolean || !this.eventlisteners[1].boolean || !this.eventlisteners[2].boolean"
            type="submit" #contactButton>Send
            message
            :&#41;</button>

        </form>

        <div class="contact-arrow-wrapper">
          <a href="#">
            <img src="assets/img/contact/arrow_up.png" alt="arrow up">
          </a>
        </div>
      </div>
    </div>
    <div class="contact-shadow-wrapper">
      <img src="assets/img/portfolio/shadow_purple.png" alt="purple shadow">
    </div>
  </div>
</div>