<div class="contact-wrapper" id="contact">
  <div class="contact-container">
    <div class="contact-headline-container">
      <div></div>
      <div *ngIf="language === 'en'" class="headline">Contact</div>
      <div *ngIf="language === 'de'" class="headline">Kontakt</div>
    </div>
    <div class="contact-form-container">
      <div class="contact-form-left">
        <span *ngIf="language === 'en'">
          Got a problem to solve? <br><br>
        </span> <span *ngIf="language === 'de'">
          Wie darf ich helfen? <br><br>
        </span>
        <span *ngIf="language === 'en'">
          Contact me through this form, I am interested in hearing you, knowing your ideas and
          contributing to
          your projects with my work. <br><br>
          Need a front-end developer? <strong>Contact me!</strong>
        </span>
        <span *ngIf="language === 'de'">
          Bitte benutze jetzt einfach das Kontaktformular, um mir von deinen Ideen und Projekten zu
          berichten. <br><br>
          Front-end Developer gesucht? <strong>Jetzt schreiben!</strong>
        </span>
      </div>
      <div class="contact-form-right">
        <form (submit)="sendMail()" #contactForm autocomplete="off" method="post" action="/form">
          <div class="input-field-wrapper">
            <input role="presentation" contenteditable="true" type="text" placeholder="Deine Name"
              name="name" #name id="name">
            <!-- <input *ngIf="language === 'de'" role="presentation" contenteditable="true" type="text"
              placeholder="Deine Name" name="name" #name id="name"> -->
            <label for="name">Danke für deinen Namen.</label>
            <!-- <label *ngIf="language === 'de'" for="name">Deinen Namen bitte</label> -->
            <div class="status-wrapper d-none">
              <img src="assets/img/contact/exclamation_mark.png" alt="status sign">
            </div>
          </div>
          <div class="input-field-wrapper">
            <input role="presentation" type="email" placeholder="Deine email" name="email" #email
              id="email">
            <label for="email">Danke für deine gültige email.</label>
            <div class="status-wrapper d-none">
              <img src="assets/img/contact/exclamation_mark.png" alt="status sign">
            </div>
          </div>
          <div class="input-field-wrapper textarea-field">
            <div class="resize-wrapper">
              <div class="pull-tab"></div>
            </div>
            <textarea role="presentation" placeholder="Dein Anliegen" name="message" #message
              id="message"></textarea>
            <label for="message">Danke für eine interessante Nachricht.</label>
            <div class="status-wrapper d-none">
              <img src="assets/img/contact/exclamation_mark.png" alt="status sign">
            </div>
          </div>
          <label *ngIf="language === 'en'" class="send-message">
            Your contact request has been sent.
          </label>
          <label *ngIf="language === 'de'" class="send-message">
            Deine Anfrage wurde dankend empfangen.
          </label>
          <button *ngIf="language === 'en'"
            [disabled]="!this.eventlisteners[0].boolean || !this.eventlisteners[1].boolean || !this.eventlisteners[2].boolean"
            type="submit" #contactButton>Send
            message
            :&#41;</button>
          <button *ngIf="language === 'de'"
            [disabled]="!this.eventlisteners[0].boolean || !this.eventlisteners[1].boolean || !this.eventlisteners[2].boolean"
            type="submit" #contactButton>Senden :&#41;</button>
        </form>
        <div class="contact-arrow-wrapper">
          <a href="#">
            <img src="assets/img/contact/arrow_up.png" alt="arrow up">
          </a>
        </div>
      </div>
    </div>
    <div class="contact-shadow-wrapper">
      <img src="assets/img/portfolio/shadow_purple.png" alt="purple shadow">
    </div>
  </div>
</div>