<div class="skills-wrapper">
  <div class="skills-container" id="skills">
    <button class="desktop-none">Get in touch icon</button>
    <div class="skills-left">
      <div class="skills-icon-container">
        <img src="assets/img/skills/icon_angular.png" alt="angular">
        <div>Angular</div>
      </div>
      <div class="skills-icon-container">
        <img src="assets/img/skills/icon_typescript.png" alt="angular">
        <div>Typscript</div>
      </div>
      <div class="skills-icon-container">
        <img src="assets/img/skills/icon_javascript.png" alt="angular">
        <div>Javascript</div>
      </div>
      <div class="skills-icon-container">
        <img src="assets/img/skills/icon_html.png" alt="angular">
        <div>HTML</div>
      </div>
      <div class="skills-icon-container">
        <img src="assets/img/skills/icon_firebase.png" alt="angular">
        <div>Firebase</div>
      </div>
      <div class="skills-icon-container">
        <img src="assets/img/skills/icon_git.png" alt="angular">
        <div>GIT</div>
      </div>
      <div class="skills-icon-container">
        <img src="assets/img/skills/icon_css.png" alt="angular">
        <div>CSS</div>
      </div>
      <div class="skills-icon-container">
        <img src="assets/img/skills/icon_api.png" alt="angular">
        <div>REST-Api</div>
      </div>
      <div class="skills-icon-container">
        <img src="assets/img/skills/icon_scrum.png" alt="angular">
        <div>Scrum</div>
      </div>
      <div class="skills-icon-container">
        <img src="assets/img/skills/icon_material.png" alt="angular">
        <div> Material design</div>
      </div>
      <img src="assets/img/skills/shadow_skills.png" alt="shadow-skills">
    </div>

    <div class="skills-right">
      <div class="headline">
        <span> My skills</span>
        <div class="skills-horizontal-line"></div>
      </div>
      <div>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Neque esse maiores hic expedita
        nam illum praesentium inventore aspernatur quod omnis magni nulla reiciendis rerum, optio
        impedit ipsum a nesciunt! Velit?
      </div>
      <button class="mobile-none">Get in touch</button>
    </div>
  </div>
</div>