$breakpoint_1: 1410px;
$breakpoint_2: 1270px;
$breakpoint_3: 1140px;
$breakpoint_4: 1000px;
$breakpoint_5: 768px;
$breakpoint_6: 540px;

.skills-wrapper {
  display: flex;
  justify-content: flex-start;
  width: 100%;
  background-color: var(--dark-blue-bg);
}

.skills-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 2160px;
  padding-left: 150px;
  padding-right: 100px;
  padding-bottom: 110px;
  padding-top: 110px;
  margin-top: -110px;
  font-size: 1.6rem;
  z-index: 3;

  button {
    position: relative;
    margin: 50px 0px;
    z-index: 2;
  }
}

.skills-left {
  display: grid;
  position: relative;
  max-width: 890px;
  grid-template-columns: repeat(auto-fill, minmax(10px, 98px));
  grid-template-rows: repeat(auto-fill, 100px);
  column-gap: 100px;
  row-gap: 50px;

  > img {
    position: absolute;
    left: -400px;
    top: 90px;
    transform: rotate(20deg);
    z-index: 1;
  }
  .skills-icon-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: fit-content;
    gap: 10px;
    text-align: center;
    font-weight: 700;
    z-index: 2;
    transition: all 0.3s ease-in-out;

    img {
      height: 56px;
      transition: all 0.3s ease-in-out;
      animation: icon-turn 8s linear infinite;
    }

    &:hover {
      img {
        // animation: icon-turn 4s linear infinite;
        // transition: all 0.3s ease-in-out;
        // transform: perspective(600px) rotateY(-180deg) scale(1.15)
        //   translateY(-15px);
      }
    }
  }
}

@keyframes icon-turn {
  0% {
    transform: perspective(600px) rotateY(0deg);
  }
  25% {
    transform: perspective(600px) rotateY(-180deg);
  }
  50% {
    transform: perspective(600px) rotateY(-360deg);
  }
  75% {
    transform: perspective(600px) rotateY(-180deg);
  }
  100% {
    transform: perspective(600px) rotateY(-360deg);
  }
}

.skills-right {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-end;
  width: 40%;
  min-width: 545px;
  max-width: 550px;

  div:nth-child(2) {
    text-align: right;
  }

  .skills-horizontal-line {
    position: absolute;
    top: 50%;
    right: calc(-40vw - 50px);
    width: 40vw;
    height: 4px;
    background-color: var(--purple);
  }
  a {
    display: flex;
    justify-content: center;
    width: 100%;
  }
}

// //////////////////////////////////////////////////////////////////
// Media Queries  ///////////////////////////////////////////////////
// //////////////////////////////////////////////////////////////////

@media (max-width: $breakpoint_3) {
  .mobile-none {
    display: none !important;
  }
  .desktop-none {
    display: flex !important;
  }

  .skills-container {
    flex-direction: column-reverse;
    align-items: center;

    button {
      margin-top: 75px;
    }

    .skills-left {
      justify-content: center;
    }
    .skills-right {
      padding-bottom: 50px;
      width: 100% !important;
      max-width: none;
      margin-left: 0;

      button {
        margin: 0;
        position: absolute;
        left: 50%;
        top: 500px;
      }

      div:nth-child(3) {
        width: 80%;
      }
    }
  }
}

@media (max-width: $breakpoint_5) {
  .skills-container {
    padding: 110px 25px 150px 25px;

    .skills-left {
      column-gap: 80px;
      row-gap: 40px;

      .skills-icon-container {
        font-size: 1.4rem;
        img {
          height: 46px;
        }
      }
    }
    .skills-right {
      width: 100%;
      max-width: none;
      min-width: unset;

      .skills-horizontal-line {
        top: 50%;
        right: -25px;
        width: 20px;
      }
    }
  }
}

@media (max-width: $breakpoint_6) {
  .skills-container {
    padding: 110px 25px;

    .skills-left {
      grid-template-columns: 1fr 1fr 1fr;
      column-gap: 10px;
      row-gap: 15px;

      .skills-icon-container:nth-child(10) {
        justify-self: center;
        grid-column-start: span 3;
      }
    }
  }
}
