<div class="skills-wrapper">
  <div class="skills-container" id="skills">
    <a href="#contact" class="desktop-none">
      <button *ngIf="language === 'en'">Get in touch</button>
      <button *ngIf="language === 'de'">Kontaktiere mich</button>
    </a>
    <div class="skills-left">
      <div class="skills-icon-container">
        <img src="assets/img/skills/icon_angular.png" alt="angular">
        <div>Angular</div>
      </div>
      <div class="skills-icon-container">
        <img src="assets/img/skills/icon_typescript.png" alt="angular">
        <div>Typscript</div>
      </div>
      <div class="skills-icon-container">
        <img src="assets/img/skills/icon_javascript.png" alt="angular">
        <div>Javascript</div>
      </div>
      <div class="skills-icon-container">
        <img src="assets/img/skills/icon_html.png" alt="angular">
        <div>HTML</div>
      </div>
      <div class="skills-icon-container">
        <img src="assets/img/skills/icon_firebase.png" alt="angular">
        <div>Firebase</div>
      </div>
      <div class="skills-icon-container">
        <img src="assets/img/skills/icon_git.png" alt="angular">
        <div>GIT</div>
      </div>
      <div class="skills-icon-container">
        <img src="assets/img/skills/icon_css.png" alt="angular">
        <div>CSS</div>
      </div>
      <div class="skills-icon-container">
        <img src="assets/img/skills/icon_api.png" alt="angular">
        <div>REST-Api</div>
      </div>
      <div class="skills-icon-container">
        <img src="assets/img/skills/icon_scrum.png" alt="angular">
        <div>Scrum</div>
      </div>
      <div class="skills-icon-container">
        <img src="assets/img/skills/icon_material.png" alt="angular">
        <div> Material design</div>
      </div>
      <img src="assets/img/skills/shadow_skills.png" alt="shadow-skills">
    </div>
    <div class="skills-right" id="skills-mobile">
      <div class="headline">
        <span *ngIf="language === 'en'"> My skills</span>
        <span *ngIf="language === 'de'"> Meine Skills</span>
        <div class="skills-horizontal-line"></div>
      </div>
      <div>
        <span *ngIf="language === 'en'">I have gained experience in building projects with various
          front-end technologies and concepts.</span>
        <span *ngIf="language === 'de'">Bei der Erstellung meiner Projekte habe ich viele
          Erfahrungen mit den Konzepten der Frontend-Technologien und Frameworks gesammelt.</span>
      </div>
      <a href="#contact" *ngIf="language === 'en'"><button class="mobile-none">Get in
          touch</button></a>
      <a href="#contact" *ngIf="language === 'de'"><button class="mobile-none">Kontaktiere
          mich</button></a>
    </div>
  </div>
</div>