<div class="portfolio-wrapper">
  <div class="portfolio-container">
    <div class="portfolio-headline-container">
      <div></div>
      <div class="headline">Portfolio</div>
      <div></div>
    </div>
    <span>This page is a sample of my work - please feel free to try them out.</span>
    <!-- Start single project containers -->

    <div class="project-container">
      <div class="project-image"><img src="assets/img/portfolio/join.png" alt="join screenshot">
      </div>
      <div class="project-description-wrapper">
        <div class="project-title">Join</div>
        <div class="poject-languages"> HTML | CSS | JS</div>
        <div class="project-description">Task manager inspired by the Kanban System. Create and
          organize tasks using drag and drop functions,
          assign users and categories.</div>
        <div class="project-button-wrapper">
          <a class="button-live" href="#"><button>Live test</button></a>
          <a class="button-github" href="#"><button>Github</button></a>
        </div>
      </div>
    </div>
    <!-- second project -->
    <div class="project-container">
      <div class="project-image"><img src="assets/img/portfolio/pollo_loco.png"
          alt="join screenshot">
      </div>
      <div class="project-description-wrapper">
        <div class="project-title">El pollo loco</div>
        <div class="poject-languages"> HTML | CSS | JS</div>
        <div class="project-description">A simple Jump-and-Run game based on an object-oriented
          approach. Help Pepe to find coins and
          salsa bottles to fight against the big boss chicken.</div>
        <div class="project-button-wrapper">
          <a class="button-live" href="#"><button>Live test</button></a>
          <a class="button-github" href="#"><button>Github</button></a>
        </div>
      </div>
    </div>
    <!-- third project -->
    <div class="project-container">
      <div class="project-image"><img src="assets/img/portfolio/pollo_loco.png"
          alt="el pollo loco screenshot">
      </div>
      <div class="project-description-wrapper">
        <div class="project-title">Join2 </div>
        <div class="poject-languages"> HTML | CSS | JS</div>
        <div class="project-description">Task manager inspired by the Kanban System. Create and
          organize tasks using drag and drop functions,
          assign users and categories.</div>
        <div class="project-button-wrapper">
          <a class="button-live" href="#"><button>Live test</button></a>
          <a class="button-github" href="#"><button>Github</button></a>
        </div>
      </div>
    </div>

  </div>
</div>