<div class="portfolio-wrapper" id="portfolio">
  <div class="portfolio-container">
    <div class="portfolio-headline-container">
      <div></div>
      <div class="headline">Portfolio</div>
      <div></div>
    </div>
    <span *ngIf="language === 'en'">This page is a sample of my work - please feel free to try them
      out.</span>
    <span *ngIf="language === 'de'">Nachfolgend einige Beispielprojekte - Probiere die gern mal
      aus.</span>
    <!-- Start single project containers -->
    <div class="project-container">
      <div class="project-image"><img src="assets/img/portfolio/join.png" alt="join screenshot">
      </div>
      <div class="project-description-wrapper">
        <div class="project-title">Join</div>
        <div class="project-languages"> HTML | CSS | JS</div>
        <div class="project-description" *ngIf="language === 'en'">Task manager inspired by the
          Kanban System. Create and
          organize tasks using drag and drop functions,
          assign users and categories.</div>
        <div class="project-description" *ngIf="language === 'de'">Task Manager gemäß dem bekannten
          Kanban System. Erstelle und
          organisiere Aufgaben für deine Kollegen mittels Drag and Drop, lade neue User ein oder
          erstelle eignen Kategorien.</div>
        <div class="project-button-wrapper">
          <a class="button-live"
            href="https://stefan-heinemann.developerakademie.net/JOIN/index.html"
            target="_blank"><button>Live test</button></a>
          <a class="button-github" href="https://github.com/StefanPdm/JOIN"
            target="_blank"><button>Github</button></a>
        </div>
      </div>
    </div>
    <!-- second project -->
    <div class="project-container">
      <div class="project-image"><img src="assets/img/portfolio/pollo_loco.png"
          alt="join screenshot">
      </div>
      <div class="project-description-wrapper">
        <div class="project-title">El pollo loco</div>
        <div class="project-languages"> HTML | CSS | JS</div>
        <div *ngIf="language === 'en'" class="project-description">A simple Jump-and-Run game based
          on an object-oriented
          approach. Help Pepe to find coins and
          salsa bottles to fight against the big boss chicken.</div>
        <div *ngIf="language === 'de'" class="project-description">Ein einfaches Jump-and-Run Spiel
          mit objektorientierter Programmierung. Hilf unserem Freund Pepe Münzen und Salsaflaschen
          zu sammeln, um erfolgreich gegen den Endboss zu kämpfen.</div>
        <div class="project-button-wrapper">
          <a class="button-live"
            href="https://stefan-heinemann.developerakademie.net/EPL/index.html"
            target="_blank"><button>Live test</button></a>
          <a class="button-github" href="https://github.com/StefanPdm/elPolloLoco"
            target="_blank"><button>Github</button></a>
        </div>
      </div>
    </div>
    <!-- third project -->
    <div class="project-container">
      <div class="project-image"><img src="assets/img/portfolio/ring_of_fire.png"
          alt="ring of fire screenshot">
      </div>
      <div class="project-description-wrapper">
        <div class="project-title">Ring of fire</div>
        <div class="project-languages"> HTML | SCSS | JS | Angular | Firebase</div>
        <div *ngIf="language === 'en'" class="project-description">The "ring of fire" drinking game
          is an easy and popular
          game that can be played with a group of
          friends. The game is simple - all you need is a deck of cards and some alcohol.</div>
        <div *ngIf="language === 'de'" class="project-description">"Ring of fire" ist ein einfaches
          und bekanntes Trinkspiel und wird am besten in einer goßen Gruppe gespielt. Alles was du
          brauchst sind Freunde und viel Alkohol.</div>
        <div class="project-button-wrapper">
          <a class="button-live" href="https://sh-ringoffire.web.app/" target="_blank"><button>Live
              test</button></a>
          <a class="button-github" href="https://github.com/StefanPdm/Ring-of-fire"
            target="_blank"><button>Github</button></a>
        </div>
      </div>
    </div>
    <!-- fourth project -->
    <div class="project-container">
      <div class="project-image"><img src="assets/img/portfolio/wp_heinemann.png"
          alt="wordpress screenshot">
      </div>
      <div class="project-description-wrapper">
        <div class="project-title">Design ohne Zukunft</div>
        <div class="project-languages"> WordPress | CSS</div>
        <div *ngIf="language === 'en'" class="project-description">Simple WordPress Site with unique
          logo design and colour
          design study.
        </div>
        <div *ngIf="language === 'de'" class="project-description">Einfache WordPress Seite mit
          selbst entworfenen Logo und Farkonzept.
        </div>
        <div class="project-button-wrapper">
          <a class="button-live" href="https://www.stefan-heinemann.eu/"
            target="_blank"><button>Live test</button></a>
        </div>
      </div>
    </div>
    <!-- fifth project -->
    <div class="project-container">
      <div class="project-image"><img src="assets/img/portfolio/mustang.png"
          alt="mustang screenshot">
      </div>
      <div class="project-description-wrapper">
        <div class="project-title">Ford Mustang mieten</div>
        <div class="project-languages">Typo3 | CSS | HTML | Typescript</div>
        <div *ngIf="language === 'en'" class="project-description">This is one of my oldest
          projects. Started with help of
          some friends 6 years ago. In the meantime, I not only look after this site, but of course
          I rent out this beautiful classic car as well.
        </div>
        <div *ngIf="language === 'de'" class="project-description">Diese Webseite ist eines meiner
          älteren Projekte. Mit der Hilfe von Bekannten vor 6 Jahren erstellt, betreibe und warte
          ich sie nun selbst. Natürlich kann der wunderschöne Oldtimer auch gemietet werden.
        </div>
        <div class="project-button-wrapper">
          <a class="button-live" href="https://www.mustang-mieten.berlin/"
            target="_blank"><button>Live test</button></a>
        </div>
      </div>
    </div>
    <!-- sixth project -->
    <div class="project-container">
      <div class="project-image"><img src="assets/img/portfolio/portfolio_legacy.png"
          alt="portfolio screenshot">
      </div>
      <div class="project-description-wrapper">
        <div *ngIf="language === 'en'" class="project-title">Portfolio Legacy Site</div>
        <div *ngIf="language === 'de'" class="project-title">Portfolio (alt)</div>
        <div class="project-languages">JS | CSS | HTML</div>
        <div *ngIf="language === 'en'" class="project-description">My first attempt at programming a
          portfolio website, a few
          weeks after starting my studies at the Developer Academy.
        </div>
        <div *ngIf="language === 'de'" class="project-description">Dies war nach einigen Wochen an
          der Developer Akademie mein erster Versuch eine Portfolio Seite zu programmieren. Wäre
          doch schade sie zu "entsorgen".
        </div>
        <div class="project-button-wrapper">
          <a class="button-live" href="https://www.heinemann.berlin/portfolio_legacy/index.html"
            target="_blank"><button>Live test</button></a>
        </div>
      </div>
    </div>
    <!-- seventh project -->
    <div class="project-container">
      <div class="project-image">

        <video src="assets/video/Canvas_Video.mp4" [autoplay]="true" [muted]="true" [loop]="true"
          [playsInline]="true" type="mp4"></video>
        <img [ngStyle]="{'filter': 'unset'}" src="assets/img/portfolio/empty_notebook_black.png"
          alt="portfolio screenshot">
      </div>
      <div class="project-description-wrapper">
        <div *ngIf="language === 'en'" class="project-title">Canvas Experimentation</div>
        <div *ngIf="language === 'de'" class="project-title">Canvas Experimente</div>
        <div class="project-languages">JS | CSS | HTML</div>
        <div *ngIf="language=== 'en'" class="project-description">Inspired by Franks laboratory I
          played with some interactive Canvas containers with using of object orientation. See
          beautiful fractals, pixel manipulation and a classic matrix rain. No using of any library!
        </div>
        <div *ngIf="language=== 'de'" class="project-description">Inspiriert von Franks Laboratory
          spiele ich hier mit 3 interaktiven Canvas Containern unter Verwendung der
          objektorientierten Programmierung. Genieße wunderschöne Fraktale, Pixelmanipulation und
          einen klassischen Matrixregen. Es wurden keine Bibliotheken verwendet!
        </div>
        <div class="project-button-wrapper">
          <a class="button-live"
            href="https://www.heinemann.berlin/canvas_experimentation/index.html"
            target="_blank"><button>Live test</button></a>
        </div>
      </div>
    </div>
    <!-- start shadow section -->
    <div class="portfolio-shadow-purple"><img src="assets/img/portfolio/shadow_purple.png" alt="">
    </div>
    <div class="portfolio-shadow-green"><img src="assets/img/portfolio/shadow_green.png" alt="">
    </div>
  </div>
</div>