<div class="portfolio-wrapper" id="portfolio">
  <div class="portfolio-container">
    <div class="portfolio-headline-container">
      <div></div>
      <div class="headline">Portfolio</div>
      <div></div>
    </div>
    <span>This page is a sample of my work - please feel free to try them out.</span>
    <!-- Start single project containers -->
    <div class="project-container">
      <div class="project-image"><img src="assets/img/portfolio/join.png" alt="join screenshot">
      </div>
      <div class="project-description-wrapper">
        <div class="project-title">Join</div>
        <div class="project-languages"> HTML | CSS | JS</div>
        <div class="project-description">Task manager inspired by the Kanban System. Create and
          organize tasks using drag and drop functions,
          assign users and categories.</div>
        <div class="project-button-wrapper">
          <a class="button-live"
            href="https://stefan-heinemann.developerakademie.net/JOIN/index.html"
            target="_blank"><button>Live test</button></a>
          <a class="button-github" href="https://github.com/StefanPdm/JOIN"
            target="_blank"><button>Github</button></a>
        </div>
      </div>
    </div>
    <!-- second project -->
    <div class="project-container">
      <div class="project-image"><img src="assets/img/portfolio/pollo_loco.png"
          alt="join screenshot">
      </div>
      <div class="project-description-wrapper">
        <div class="project-title">El pollo loco</div>
        <div class="project-languages"> HTML | CSS | JS</div>
        <div class="project-description">A simple Jump-and-Run game based on an object-oriented
          approach. Help Pepe to find coins and
          salsa bottles to fight against the big boss chicken.</div>
        <div class="project-button-wrapper">
          <a class="button-live"
            href="https://stefan-heinemann.developerakademie.net/EPL/index.html"
            target="_blank"><button>Live test</button></a>
          <a class="button-github" href="https://github.com/StefanPdm/elPolloLoco"
            target="_blank"><button>Github</button></a>
        </div>
      </div>
    </div>
    <!-- third project -->
    <div class="project-container">
      <div class="project-image"><img src="assets/img/portfolio/ring_of_fire.png"
          alt="ring of fire screenshot">
      </div>
      <div class="project-description-wrapper">
        <div class="project-title">Ring of fire</div>
        <div class="project-languages"> HTML | SCSS | JS | Angular | Firebase</div>
        <div class="project-description">The "ring of fire" drinking game is an easy and popular
          game that can be played with a group of
          friends. The game is simple - all you need is a deck of cards and some alcohol.</div>
        <div class="project-button-wrapper">
          <a class="button-live" href="https://sh-ringoffire.web.app/" target="_blank"><button>Live
              test</button></a>
          <a class="button-github" href="https://github.com/StefanPdm/Ring-of-fire"
            target="_blank"><button>Github</button></a>
        </div>
      </div>
    </div>
    <!-- fourth project -->
    <div class="project-container">
      <div class="project-image"><img src="assets/img/portfolio/wp_heinemann.png"
          alt="wordpress screenshot">
      </div>
      <div class="project-description-wrapper">
        <div class="project-title">Design ohne Zukunft</div>
        <div class="project-languages"> WordPress | CSS</div>
        <div class="project-description">Simple WordPress Site with unique logo design and color
          design study.
        </div>
        <div class="project-button-wrapper">
          <a class="button-live" href="https://www.stefan-heinemann.eu/"
            target="_blank"><button>Live test</button></a>
        </div>
      </div>
    </div>
    <!-- fifth project -->
    <div class="project-container">
      <div class="project-image"><img src="assets/img/portfolio/mustang.png"
          alt="mustang screenshot">
      </div>
      <div class="project-description-wrapper">
        <div class="project-title">Ford Mustang mieten</div>
        <div class="project-languages">Typo3 | CSS | HTML | Typescript</div>
        <div class="project-description">This is one of my oldest projects. Started with help of
          some friends 6 years ago. In the meantime, I not only look after this site, but of course
          I also rent out this beautiful classic car.
        </div>
        <div class="project-button-wrapper">
          <a class="button-live" href="https://www.stefan-heinemann.eu/"
            target="_blank"><button>Live test</button></a>
        </div>
      </div>
    </div>
    <!-- sixth project -->
    <div class="project-container">
      <div class="project-image"><img src="assets/img/portfolio/portfolio_legacy.png"
          alt="portfolio screenshot">
      </div>
      <div class="project-description-wrapper">
        <div class="project-title">Portfolio Legacy Site</div>
        <div class="project-languages">JS | CSS | HTML</div>
        <div class="project-description">First attempt at programming a portfolio website, a few
          weeks after starting my studies at the Developer Academy.
        </div>
        <div class="project-button-wrapper">
          <a class="button-live" href="https://www.heinemann.berlin/portfolio_legacy/index.html"
            target="_blank"><button>Live test</button></a>
        </div>
      </div>
    </div>
    <!-- start shadow section -->
    <div class="portfolio-shadow-purple"><img src="assets/img/portfolio/shadow_purple.png" alt="">
    </div>
    <div class="portfolio-shadow-green"><img src="assets/img/portfolio/shadow_green.png" alt="">
    </div>
  </div>
</div>