$breakpoint_1: 1410px;
$breakpoint_2: 1270px;
$breakpoint_3: 1140px;
$breakpoint_4: 1000px;
$breakpoint_5: 768px;
$breakpoint_6: 540px;

.impressum-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  padding: 25px;
  top: 110px;
  left: 100px;
  right: 100px;
  // bottom: 100px;
  // width: 100%;
  height: 80vh;
  border: 1px solid var(--purple);
  border-radius: 10px;
  background-color: var(--dark-blue-bg);
  opacity: 0.9;
  z-index: 10;
  font-size: 1.6rem;
  transition: all 0.3s ease-in-out;
}
