<div class="impressum-container" id="impressum">
  <div class="headline">Impressum</div>
  <div>Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum, nobis animi? Magnam sunt vero
    quaerat quo officiis saepe, sapiente, ad debitis dolor minima nemo esse dolore quibusdam natus
    est omnis!
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum, dolor dolorem? Nostrum qui facere
    nemo inventore doloremque, laboriosam porro maiores eaque aperiam mollitia ad debitis assumenda.
    Ut unde minima expedita?

  </div>
</div>